.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App > div {
  min-width: 560px;
  display: flex;
  align-items: center;
}

.field {
  margin: auto;
}
