table {
  border-collapse: collapse;
  border: 1px solid #000;
}

td {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  text-align: center;
  vertical-align: center;
  font-family: monospace;
  position: relative;
  font-size: 18px;
}

.pixel-index {
  font-size: 12px;
  display: inline-block;
  position: absolute;
  top: 1px;
  right: 1px;
  color: #999;
}

td.pixel {
  width: 4px;
  height: 4px;
}