* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(1deg, #151515, #222);
  height: 100vh;
}

.title-container {
  position: absolute;
  display: block;
  left: 5%;
  top: 40%;

  color: #fff;
}

.title-container h1 {
  display: inline;
}

.rotating-container {
  display: inline;
  font-weight: bold;
  font-size: 2rem;
}

.rotating-word {
  margin-left: 0.5rem;
  position: absolute;
  transform: translateY(-2rem);
  opacity: 0;
}

.show-word {
  animation-name: drop-words;
  animation-duration: 4000ms;
}

@keyframes drop-words {
  0% {
    transform: translateY(-2rem);
  }

  15% {
    transform: translateY(0rem);
    opacity: 1;
  }

  50% {
    color: #f00;
    opacity: 1;
  }

  80% {
    transform: translateY(0rem);
  }

  100% {
    color: inherit;
    opacity: 0;
    transform: translateY(2rem);
  }
}
