body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#slider {
  position: relative;
  max-width: 500px;
  width: 80%;
  height: 30vh;
  max-height: 420px;
}

#slider img {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  object-fit: cover;
  transition: opacity 800ms ease;
}

#slider .selected {
  opacity: 1;
}